<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!-- 
  If you are looking here and want more output, 
  first thing to do is change root/priority/@value to "INFO" or "ALL" 
  -->
  <root>
    <!-- Value of priority may be ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF -->
    <priority value="ERROR" />
    <appender-ref ref="error-file" />
  </root>
  <!-- example of turning on the output from a component or namespace-->
  <!--
    <logger name="Orchard.Data.SessionLocator">
      <priority value="INFO" />
    </logger>
  -->
  <appender name="error-file" type="Orchard.Logging.OrchardFileAppender">
    <!-- error log: only ERROR and FATAL subset of debug log -->
    <file value="App_Data/Logs/orchard-error" />
    <appendToFile value="true" />
    <!-- immediate flush on error log, to avoid data loss with sudden termination -->
    <immediateFlush value="false" />
    <staticLogFileName value="false" />
    <rollingStyle value="Date" />
    <datepattern value="-yyyy.MM.dd'.log'" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %logger - %message%newline" />
    </layout>
  </appender>
</log4net>